@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;200;300;400;500;600;700&display=swap');

/* Base Styles */

*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    min-height: 100% !important;
    height: 100%;
    overflow-x: hidden;
}

body {
    font-family: 'Roboto Condensed', sans-serif;
    background-color: #F2F6F9;
    margin: 0;
    min-height: 100% !important;
    height: 100%;
    font-size: 1rem;
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.area {
    min-height: 100% !important;
    height: 100%;
}


.duzenb {
    width: calc(100% - 60px) !important;
}


ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: #3C4045;
}

button {
    background: none;
    border: none;
}

.buton {
    min-width: 100px;
    height: 30px;
    background: #48CAE4;
    border-radius: 5px;
    text-transform: uppercase;
    color: #FFFFFF;
    font-size: .9rem;
    font-weight: 600;
    -webkit-transition: all .2s ease;
    transition: all .2s ease;
}

.buton.add:hover {
    background: #20B7D5;
}

.buton.mavi:hover {
    background: #20B7D5;
}

.byk {
    text-transform: uppercase;
}

::-webkit-scrollbar {
    width: 12px;
    height: 12px;
}

::-webkit-scrollbar-track {
    background: #f5f5f5;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: #ccc;
}

 ::-webkit-scrollbar-thumb:hover {
    background: #999;
}

@media (prefers-reduced-motion: no-preference) {
     :root {
        scroll-behavior: smooth;
    }
}

.price {
    font-family: 'Roboto Mono', sans-serif !important;
}

.form-baslik {
    color: #6C7FF9;
    display: block;
}

.popup {
    font-family: 'Poppins', sans-serif;
    text-align: center;
    color: #FFFFFF;
    width: 350px;
    padding: 1rem;
    height: auto;
    background: #80ed99;
    position: fixed;
    top: 1rem;
    border-radius: 8px;
    left: calc(50% - 175px);
    z-index: 1000;
    box-shadow: 0 15px 20px rgba(220, 222, 225, .5);
    animation: fadeInDown;
    animation-duration: .8s;
}

@keyframes fadeInDown {
    from {
        opacity: 0;
        transform: translate3d(0, -100%, 0);
    }
    to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

.fadeInDown {
    animation-name: fadeInDown;
}

#prealoader {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 999;
    width: 100%;
    height: 100%;
    overflow: visible;
    background: #F7F5F3;
}


/* Base Styles */


/* Area */

.area {
    display: flex;
    flex-direction: row;
}


/* Area */


/* Section */

.section-right {
    display: flex;
    flex-direction: column;
    width: calc(100% - 65px) !important;
    margin-left: 64px;
    -webkit-transition: all .2s ease;
    transition: all .2s ease;
}

.section-right[class*="show"] {
    width: calc(100% - 250px) !important;
}

.section-right.show {
    margin-left: 250px;
}


/* Section */


/* Side Menu */

.side-menu {
    width: 65px;
    height: 100%;
    overflow: hidden;
    background-color: #FFFFFF;
    padding: 1rem;
    padding-top: 0;
    padding-right: 0;
    position: fixed;
    top: 0;
    left: 0;
    border-right: 2px solid #edeef2;
    -webkit-transition: all .2s ease;
    transition: all .2s ease;
}

.side-menu.show {
    width: 250px;
}

.side-menu .brand {
    position: absolute;
    bottom: 80px;
    left: -25px;
    transform: rotate(-90deg);
    -webkit-transition: all .2s ease;
    transition: all .2s ease;
}

.side-menu.show .brand {
    bottom: 30px;
    left: 57px;
    transform: rotate(0);
}

.side-menu .menu {
    margin-top: 88px;
    white-space: nowrap;
}

.side-menu li {
    height: 60px;
    padding-left: .5rem;
    padding-right: 0;
    border-radius: .7rem;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    cursor: pointer;
    -webkit-transition: all .15s ease;
    transition: all .15s ease;
}

.side-menu li.active {
    border-right: 4px solid #8338EC;
}

.side-menu li:hover {
    border-right: 4px solid #8338EC;
}

.side-menu li.active a {
    color: #8338EC;
}

.side-menu li:hover a {
    color: #8338EC;
}

.side-menu li .icon {
    margin-right: 1rem;
    font-size: 1.1rem;
}

.side-menu li a {
    color: #b1b3be;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%;
    transition: ease .2s;
    position: relative;
}

.side-menu li a .link {
    position: absolute;
    left: 2.5rem;
    font-size: 1.5rem;
}

.side-menu .menu-show {
    position: absolute;
    color: #8338EC;
    font-size: 1.25rem;
    top: 50px;
    left: 25px;
    cursor: pointer;
    transition: ease .2s;
}

.side-menu .menu-show.show {
    transform: rotate(180deg);
}


/* Side Menu */


/* Top Bar */

.top-bar {
    height: 56px;
    padding: 0 4rem;
    margin-top: 1rem;
    display: flex;
    position: relative;
}

.top-bar .notice-area {
    height: 56px;
    display: flex;
    align-items: center;
    margin-right: 1.5rem;
    position: relative;
}

.top-bar .notice-area .icon {
    font-size: 1.3rem;
    color: #271D77;
    cursor: pointer;
    z-index: 2;
}

.top-bar .notice-area li {
    border-bottom: 1px solid #4A4F7B;
    padding: .5rem;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: #FFFFFF;
}

.top-bar .notice-area li:first-child {
    padding-right: 25px;
}

.top-bar .notice-area li:last-child {
    border-bottom: none;
}

.top-bar .notice-area .icon.show {
    color: #FCA311;
}

.top-bar .notice-area .notice-dot {
    width: 6px;
    height: 6px;
    border-radius: 6px;
    background: #91FA49;
    position: absolute;
    top: 12px;
    right: -1px;
}

.kutu {
    width: 200px;
    height: 100px;
    line-height: 100px;
    text-align: center;
    font-size: 20px;
    font-family: sans-serif;
    font-weight: bold;
    background: red;
    color: white;
    margin: 5px;
    float: left;
}

.top-bar .notice-hide-area {
    width: 320px;
    position: absolute;
    top: 0;
    left: -285px;
    max-height: 300px;
    overflow-y: auto;
    background-color: #202442;
    z-index: 1;
    border-radius: 1rem;
    padding: 1rem;
    display: none;
}

.top-bar .notice-hide-area span {
    color: #FFFFFF;
    font-size: .8rem;
    cursor: pointer;
}

.top-bar .notice-hide-area.show {
    display: block;
}

.top-bar .user-area {
    position: relative;
    width: auto;
    height: 56px;
    border: 3px solid #FFFFFF;
    border-radius: 1.1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: #014f86;
}

.top-bar .user-area .user-pp {
    width: 56px;
    height: 56px;
    background-color: #FFFFFF;
    cursor: pointer;
    border-radius: 1.1rem;
    border-top-right-radius: 2rem;
    border-bottom-right-radius: 2rem;

}

.top-bar .user-area .user-pp img {
    width: 56px;
    height: 56px;
    border-radius: 1.1rem;
}

.top-bar .user-area .user-name {
    font-size: 1.2rem;
    font-weight: 600;
    margin: 0 15px;
    margin-bottom: 13px;
    cursor: default;
    text-transform: uppercase;
    position: relative;
    min-width: 150px;
}

.top-bar .user-area .user-name small {
    position: absolute;
    left: 0;
    font-size: .8rem;
    bottom: -.9rem;
}

.top-bar .user-area .open-panel {
    margin-right: 15px;
    cursor: pointer;
    font-size: 1.4rem;
    -webkit-transition: all .25s ease;
    transition: all .25s ease;
}

.top-bar .user-area .open-panel a {
    color: #014f86;
    -webkit-transition: all .25s ease;
    transition: all .25s ease;
}

.top-bar .user-area .open-panel span:hover,
.top-bar .user-area .open-panel a:hover {
    color: #CE4257;
}

.top-bar> :nth-child(1) {
    flex-grow: 1;
}

.top-bar .breadcrumb-area .breadcrumb-item a {
    color: #9A9B9D;
    transition: ease .2s;
}

.top-bar .breadcrumb-area .breadcrumb-item {
    font-size: 1.5rem;
}

.top-bar .breadcrumb-area .breadcrumb-item a:hover {
    color: #3C4045;
}

.top-bar .breadcrumb-area .breadcrumb-item.active {
    color: #3C4045;
}

.breadcrumb-item+.breadcrumb-item::before {
    color: #9A9B9D;
}

.content.alert .container {
    font-family: 'Poppins', sans-serif;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #ff9500;
    color: #FFFFFF;
    padding: 1rem 2.5rem;
}

.content.alert.buy .container {
    background: #fca311;
}

.content.alert .text {
    width: 80%;
    padding-right: 1rem;
}

.content.alert .buton {
    background: #ffffff;
    width: 150px;
    height: 40px;
    border-radius: 20px;
    color: #14213d;
    -webkit-transition: all .25s ease;
    transition: all .25s ease;
}

.content.alert .buton:hover {
    background: #f8f9fa;
    color: #fca311;
}

.content.alert input {
    background: #f7f5fb;
    width: 150px;
    height: 40px;
    border-radius: 20px;
    color: #333333;
}

.content.alert button {
    background: #f7f5fb;
    border-radius: 20px;
    color: #333333;
    /*border: 1px solid #ced4da;
    border-left: none;*/
}

.content.alert .form-control:focus {
    border-color: #ced4da;
    border-right: none;
}


/* Top Bar */


/* Stats */

.stats {
    height: auto;
    padding: 4rem;
    padding-top: 1rem;
    padding-bottom: 1.5rem;
}

.stats .container {
    height: auto;
}

.stats .card {
    height: 200px;
    border-radius: 1.5rem;
    padding: 1rem;
    position: relative;
    box-shadow: 0 15px 20px rgba(220, 222, 225, .5);
    justify-content: center;
}

.stats .card .title {
    color: #9A9B9D;
    text-transform: uppercase;
    text-align: center;
}

.stats .card .counter {
    color: #9A9B9D;
    font-size: 3rem;
    font-weight: 700;
}

.stats .card .counter small {
    font-size: 1.1rem;
    font-weight: 500;
}

.stats .card .counter .price-small,
.content.ozet .price-small {
    font-style: normal !important;
    font-size: 1.1rem;
}

.stats .card .shape {
    width: 75px;
    height: 75px;
    position: absolute;
    background: #48cae4;
    border-radius: 75px 0 1.5rem 0;
    -moz-border-radius: 75px 0 1.5rem 0;
    -webkit-border-radius: 75px 0 1.5rem 0;
    bottom: 0;
    right: 0;
}

.stats .card button {
    position: absolute;
    bottom: 15px;
    right: 15px;
    font-size: 1.2rem;
    color: #FFFFFF;
}

.stats .shape.red {
    background: #ce4257;
}


/* Stats */


/* Özet */

.gt-1 {
    --bs-gutter-x: 0.75rem !important;
}

.content.ozet {
    padding-bottom: 1.5rem;
    padding-top: 0;
}

.content.ozet .container {
    height: 400px;
}

.content.ozet .container.multi-row {
    height: 194px;
    margin-bottom: 12px;
    display: flex;
    align-items: center;
    padding-right: 65px;
}

.container.grp {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 3rem !important;
    padding-right: 3rem !important;
}

.graphic-info {
    width: 200px
}

.graphic-info ul {
    display: flex;
    flex-direction: column;
}

.grp li {
    display: flex;
    height: 50px;
    position: relative;
    font-weight: 700;
}

.grp .icon {
    width: 20px;
    height: 20px;
    border-radius: 5px;
    margin-right: 5px;
}

.grp .icon.red {
    background: #E71D36;
}

.grp .icon.blue {
    background: #3A86FF;
}

.grp .icon.green {
    background: #8AC926;
}

.grp .info {
    position: absolute;
    left: 1.5rem;
    top: 1.5rem;
    font-weight: 400;
}

.ozet h5 {
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    transform: rotate(90deg);
    position: absolute;
    right: -70px;
    letter-spacing: 4px;
    color: #3C4045;
    text-align: center;
}

.multi-row h5 {
    right: -60px;
    top: 75px;
}

.multi-row .bar {
    width: 15px;
    height: 175px;
    background: #ade8f4;
    border-radius: 5px;
    position: absolute;
    right: 50px;
}

.multi-row.mb-0 .bar {
    background: #d69f7e;
}

.multi-row.mb-0 h5 {
    right: -40px;
}

.multi-row .toplam {
    color: #48cae4;
    font-size: 2rem;
    border-right: 1px solid #b1b3be;
}

.multi-row .gecmis {
    color: #ce4257;
    font-size: 2rem;
    padding-left: 1rem;
}

.multi-row .text {
    font-size: 1.5rem;
}

.multi-row .price {
    font-weight: 600;
}


/* Özet */


/* Content */

.content {
    height: auto;
    padding: 4rem;
    padding-top: 1rem;
    padding-bottom: 0;
}

.content .container {
    background: #FFFFFF;
    /*height: calc(500px + 2rem);*/
    border-radius: 1.5rem;
    box-shadow: 0 15px 20px rgba(220, 222, 225, .5);
    position: relative;
    padding: 1rem;
}

.content .full-width-graph {
    width: 100% !important;
    max-height: 500px !important;
}

.content.musteriler .container {
    height: auto;
}

.content .table-header {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 1rem;
    font-weight: 700;
    color: #3C4045;
    position: absolute;
    top: 1.5rem;
}

.content .table-info {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 1rem;
    color: #3C4045;
    margin-top: 30px;
    display: block;
}


/* Content */


/* Tables */

.table {
    font-family: 'Roboto Condensed', sans-serif !important;
}

.dataTables_filter {
    margin-top: 5px;
}

.dataTables_length {
    position: absolute;
    top: 70px;
    right: 180px;
}

.kasa .dataTables_length {
    top: 21px;
}

.tables-group {
    position: absolute;
    top: 70px;
    left: 16px;
}

.kasa .tables-group {
    top: 21px;
}

.tables-group .btn {
    background: none;
    border: 1px solid #ced4da;
    color: #9A9B9D;
}

.no-plc tbody tr:hover {
    background-color: rgba(198, 226, 255, 0) !important;
}

.no-plc tbody tr {
    cursor: default;
}

.tables-group .btn:hover {
    color: var(--bs-table-striped-color);
}

.spUyari {
    text-align: center;
    display: block;
}

.select2-container *:focus {
    outline: none;
}

.row-edit-header {
    padding-right: .5rem !important;
    text-align: center;
    cursor: default !important;
    max-width: 75px !important;
}

.row-edit-header::before {
    content: "" !important;
}

.row-edit-header::after {
    content: "" !important;
}

.modal-content table tr {
    height: 1rem;
}

.modal-content table td {
    padding-top: .5rem;
    padding-bottom: .5rem;
}

.no-order {
    max-width: 25px !important;
    padding-left: 1.2rem !important;
    padding-right: 1.2rem !important;
}

.no-order::before {
    content: "" !important;
}

.no-order::after {
    content: "" !important;
}

.no-order input {
    display: block;
    width: 18px;
    height: 18px;
}

.table tr {
    height: 3rem;
    cursor: pointer;
}

.table td {
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-size: 1rem;
}

.table th:first-child {
    max-width: 90px !important;
}

.page-item.active .page-link {
    background-color: #8EB2CC;
    border-color: #8EB2CC;
}

    .page-item.active .page-link:hover {
        background-color: #48CAE4;
        border-color: #48CAE4;
    }

.tasmayan {
    max-width: 200px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}


/* Tables */


/* Müşteri Detay */

.content.musteriBilgileri {
    padding-right: 1rem;
    width: calc(100% - 320px);
}

.content.musteriIslemleri {
    padding-left: 0;
    width: 320px !important;
    position: relative;
}

.content.musteriIslemleri .container {
    background: #D5E2EC !important;
}


/*.row.clr {
    --bs-gutter-x: 0;
}*/

.content .musteriBilgileri-header {
    display: flex;
    position: relative;
    justify-content: flex-end;
}

.content .musteriBilgileri-header .buttons {
    display: flex;
}

.content .musteriBilgileri-header> :first-child {
    flex-grow: 1;
}

.content .musteriBilgileri-header .title-area {
    display: flex;
    align-items: center;
}

.content .musteriBilgileri-header .icon {
    font-size: 2rem;
    margin-right: 1rem;
    color: #3C4045;
}

.content .musteriBilgileri-header .title {
    margin-top: 5px;
}

.content .musteriBilgileri-header h4 {
    max-width: 250px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.content .musteriBilgileri-header .title h4 {
    margin-top: 5px;
    font-weight: 500;
    color: #3C4045;
}

.content .musteri-kategori {
    cursor: default;
}

.content .musteri-duzenle {
    background: transparent;
    border: 2px solid #98c1d9;
    color: #98c1d9;
    -webkit-transition: all .25s ease;
    transition: all .25s ease;
}

.content .musteri-duzenle:hover {
    background: #014f86;
    color: #FFFFFF;
    border-color: #014f86;
}

.musteri .container {
    height: auto;
    min-height: 420px;
    -webkit-transition: all .25s ease;
    transition: all .25s ease;
}

.musteriIslemleri .container {
    padding: .8rem;
}

.musteriIslemleri .line {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.musteriIslemleri span {
    font-family: 'Roboto Condensed', sans-serif;
}

.musteriIslemleri .price {
    margin-bottom: 2px;
}

.musteriIslemleri .bold {
    font-weight: 700;
}

.musteriIslemleri .musteriIslemleri-header,
.musteriIslemleri .buttons {
    width: 230px;
}

.musteriIslemleri .buttons .buton {
    width: 230px;
    background: #8EB2CC;
    letter-spacing: .1rem;
    margin-bottom: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.musteriIslemleri .buttons .buton.lg {
    height: 40px;
}

.musteriIslemleri .buttons .buton:hover {
    background: #48CAE4;
}

.musteriBilgileri-details {
    display: flex;
}

.musteriBilgileri-details .details {
    width: calc(100% - 250px);
}

.musteriBilgileri-details .graphic {
    display: flex;
    flex-wrap: wrap;
    width: 250px;
}

.musteriBilgileri-details .graphic img {
    width: 120px;
    height: 120px;
}

.details table {
    font-size: .8rem;
    color: #6c757d;
}

.details table th {
    width: 25px;
}

.details table tr {
    height: 2.1rem;
}

.details table td {
    text-transform: uppercase;
    font-weight: 700;
}

.details table .extend {
    width: 200px;
    font-weight: 900;
}

.musteriBilgileri-details canvas {
    height: 125px;
}

.details table th span {
    text-align: center;
    display: block;
    margin-right: 10px;
}

.musteriIslemleri .hide-area {
    position: absolute;
    top: 20px;
    left: 0;
    background: #CED4DA;
    width: 100%;
    height: 0;
    border-radius: 1.5rem;
    padding: 0 1rem;
    overflow: hidden;
    -webkit-transition: all .25s ease;
    transition: all .25s ease;
}

.musteriIslemleri .hide-area .vade {
    display: none;
}

.musteriIslemleri .hide-area .vade.show {
    display: block;
}

.musteriIslemleri .hide-area .stksz {
    height: 0;
    overflow: hidden;
}

.musteriIslemleri .hide-area .stksz.show {
    height: auto;
}

.musteriIslemleri .hide-area.show {
    top: 0;
    min-height: 420px;
    height: auto;
    overflow: hidden;
    background: #E1E5E8;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 999;
}

.odeme-sekli.hide {
    display: none;
}

.musteriIslemleri .hide-area .input-area,
.musteriIslemleri .hide-area .input-form {
    width: 100%;
}

.musteriIslemleri .hide-area .label-form-free {
    left: 6px;
    margin-bottom: 55px;
    color: #2A3E50;
    font-size: .8rem;
    font-weight: 600;
}

.musteriIslemleri .hide-area .input-form {
    padding-right: 15px;
}

.musteriIslemleri .hide-area .input-area {
    margin-bottom: 25px;
}

.musteriIslemleri .hide-area .select-form {
    width: 100%;
    padding-right: 15px;
}

.musteriIslemleri .hide-area .text-area-form {
    width: 100%;
    height: 45px;
    resize: none;
    padding-right: 15px;
    margin-top: -15px;
}

.musteriIslemleri .hide-area .buttons {
    display: flex;
    justify-content: space-between;
    margin-top: -10px;
}

.musteriIslemleri .hide-area .buttons> :first-child {
    background: transparent;
    -webkit-transition: all .25s ease;
    transition: all .25s ease;
}

.musteriIslemleri .hide-area .buttons> :first-child:hover {
    color: #C97F54;
}

.musteriIslemleri .hide-area .buton {
    width: 40%;
}


/* Müşteri Detay */


/* İşlem Detay */

.content.islemBilgileri {
    padding-right: 1rem;
    width: calc(100% - 320px);
}

.content.islemIslemleri {
    padding-left: 0;
    width: 320px !important;
    position: relative;
}

.content.islemIslemleri .container {
    background: #D5E2EC !important;
}

.row.clr {
    --bs-gutter-x: 0;
}

.content .islemBilgileri-header {
    display: flex;
    position: relative;
    justify-content: flex-end;
}

.content .islemBilgileri-header> :first-child {
    flex-grow: 1;
}

.content .islemBilgileri-header .title-area {
    display: flex;
    align-items: center;
}

.content .islemBilgileri-header .icon {
    font-size: 2rem;
    margin-right: 1rem;
    color: #3C4045;
}

.content .islemBilgileri-header .title {
    margin-top: 5px;
}

.content .islemBilgileri-header .title h4 {
    margin-top: 5px;
    font-weight: 500;
    color: #3C4045;
}

.islem .container {
    height: auto;
    overflow: hidden;
    min-height: 375px;
}

.islemIslemleri .line {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.islemIslemleri span {
    text-transform: uppercase;
    font-family: 'Roboto Condensed', sans-serif;
}

.islemIslemleri .price {
    margin-bottom: 2px;
}

.islemIslemleri .bold {
    font-weight: 700;
}

.islemIslemleri .buttons .buton {
    width: 230px;
    background: #8EB2CC;
    letter-spacing: .1rem;
    margin-bottom: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

    .islemIslemleri .buttons .buton.lg {
        height: 40px;
    }


.islemIslemleri .buttons .buton:hover {
    background: #48CAE4;
}

.islemBilgileri-details {
    display: flex;
    justify-content: space-between;
}

.islemIslemleri .hide-area {
    position: absolute;
    top: 20px;
    left: 0;
    background: #CED4DA;
    width: 100%;
    height: 0;
    border-radius: 1.5rem;
    padding: 0 1rem;
    overflow: hidden;
    -webkit-transition: all .25s ease;
    transition: all .25s ease;
}

.islemIslemleri .hide-area.show {
    height: auto;
    overflow: hidden;
    min-height: 375px;
    display: block;
    background: #E1E5E8;
    z-index: 1;
    top: 0;
}

.islemIslemleri .hide-area .input-area,
.islemIslemleri .hide-area .input-form {
    width: 100%;
}

.islemIslemleri .hide-area .label-form-free {
    left: 6px;
    margin-bottom: 55px;
    color: #2A3E50;
    font-size: .8rem;
    font-weight: 600;
}

.islemIslemleri .hide-area .input-form {
    padding-right: 15px;
}

.islemIslemleri .hide-area .input-area {
    margin-bottom: 25px;
}

.islemIslemleri .hide-area .select-form {
    width: 100%;
    padding-right: 15px;
}

.islemIslemleri .hide-area .text-area-form {
    width: 100%;
    height: 45px;
    resize: none;
    padding-right: 15px;
    margin-top: -15px;
}

.islemIslemleri .hide-area .buttons {
    display: flex;
    justify-content: space-between;
    margin-top: -10px;
}

.islemIslemleri .hide-area .buttons> :first-child {
    background: transparent;
    -webkit-transition: all .25s ease;
    transition: all .25s ease;
}

.islemIslemleri .hide-area .buttons> :first-child:hover {
    color: #C97F54;
}

.islemIslemleri .hide-area .buton {
    width: 40%;
}

.islemIslemleri .fake-area {
    margin-top: 39px;
}

.islemIslemleri .fake-area .large {
    width: 150px;
    height: 20px;
    background: rgb(240, 242, 243);
    background: linear-gradient(90deg, rgba(240, 242, 243, 1) 0%, rgba(215, 220, 225, 1) 100%);
    margin-bottom: 7px;
    margin-left: 10px;
}

.islemIslemleri .fake-area .small {
    width: 175px;
    height: 15px;
    background: rgb(240, 242, 243);
    background: linear-gradient(90deg, rgba(240, 242, 243, 1) 0%, rgba(215, 220, 225, 1) 100%);
    margin-bottom: 7px;
    margin-left: 10px;
}


/* İşlem Detay */


/* Yeni Cari */

.content.musteriler .buton.add {
    position: absolute;
    top: 1rem;
    right: 1rem;
}

.yeni-cari .row.contact-person {
    --bs-gutter-x: 0;
}

.yeni-cari .row.cnt {
    margin-left: 0;
    margin-right: 0;
}

.yeni-cari tr> :first-child {
    padding-left: 0 !important;
}

.yeni-cari tr> :last-child {
    padding-right: 0 !important;
}

.yerlestir {
    justify-content: space-between;
}

.yeni-cari .col-form-label,
.yeni-cari th {
    font-weight: 600;
}

.modal-list {
    position: relative;
    padding: 1rem;
}

.yeni-cari .row-edit {
    font-size: 2rem;
}

.yeni-cari .row-edit button {
    color: #6c757d;
}

.yeni-personel .row-edit {
    font-size: 2rem;
}

.yeni-personel .row-edit button {
    color: #6c757d;
}


/* Yeni Cari */


/* Cari Detay */

.cari-islem-detay .hide-area .col-lg-2,
.cari-islem-detay .hide-area .col-lg-4,
.stok-detay .hide-area .col-lg-2,
.stok-detay .hide-area .col-lg-4,
.cari-detay .hide-area .col-lg-2,
.cari-detay .hide-area .col-lg-4 {
    width: 100%;
}

.cari-islem-detay .hide-area {
    padding-top: 0;
}


/* Cari Detay */


/* Fatura */

.ftr-xs {
    width: 200px;
}

.yeni-fatura .row-edit {
    font-size: 2rem;
}

.yeni-fatura .row-edit button {
    color: #6c757d;
}

.urun-ekle {
    cursor: pointer;
    -webkit-transition: all .15s ease;
    transition: all .15s ease;
    text-align: center;
    display: block;
}

.urun-ekle:hover {
    color: #625FCD;
}

#urunListesi .dataTables_length {
    position: absolute;
    top: 15px;
    left: 15px;
}

#urunListesi .table.dt-responsive {
    width: 100% !important;
}


/* Fatura */


/* Login */

.area.login {
    font-family: 'Poppins', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.login-area {
    height: auto;
    width: 500px;
    padding: 1rem;
    background: #FFFFFF;
    border-radius: 10px;
}

.login-area .container {
    position: relative;
}

.login-area input {
    width: 100%;
    padding: .5rem;
    position: relative;
    z-index: 11;
    padding-left: 2.5rem;
}

.login-area .input {
    display: flex;
    align-items: center;
    width: 100%;
    position: relative;
    margin-bottom: 12px;
}

.login-area .icon {
    position: absolute;
    z-index: 12;
    left: 1rem;
    color: #9A9B9D;
}

.login-area .header h5 {
    font-size: 2rem;
    text-align: center;
}

.login-area .header span {
    display: block;
    text-align: center;
}

.req {
    margin-bottom: 12px;
    margin-left: 12px;
    color: #ef476f;
}

span.req[style*="inline"] {
    display: block !Important;
}

.login-area .buton {
    width: 100%;
    height: 42px;
    background: #c2c3c4;
    border-radius: .25rem;
    cursor: default;
}

.login-area .buton.confir {
    background: rgb(76, 201, 240);
    cursor: pointer;
    -webkit-transition: all .2s ease;
    transition: all .2s ease;
    cursor: pointer;
}

.login-area .buton.confir:hover {
    background: #44b4d8;
}

.login-area button {
    padding-left: 1rem;
}

.login-area button span {
    color: #9A9B9D;
}

.login-area .buton.giris {
    background: rgb(76, 201, 240);
    cursor: pointer;
    -webkit-transition: all .2s ease;
    transition: all .2s ease;
}

.login-area .buton.giris:hover {
    background: #44b4d8;
}

.login-area a {
    text-align: right;
    display: block;
    color: #4cc9f0;
    -webkit-transition: all .2s ease;
    transition: all .2s ease;
}

.login-area a:hover {
    color: #44b4d8
}

.login-area .form-check-label {
    font-size: 15px;
}

.login-area .kaydol {
    position: absolute;
    bottom: -60px;
    left: calc(50% - 96.205px);
}

.login-area .gir {
    position: absolute;
    bottom: -60px;
    left: calc(50% - 87.655px);
}

.login-area .sifirlama {
    position: absolute;
    bottom: -60px;
    left: calc(50% - 59.365px);
}

.login-area .form-check-input {
    width: 10px;
    padding: 8px
}

.login-area .form-check-label a {
    display: unset;
}

.login-area .buton.temizle {
    padding-left: 6px;
}

.kayit-devam .overlay {
    width: 100%;
    height: 100%;
    z-index: 999;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.4);
}

.kayit-devam {
    overflow: hidden;
}

.kayit-devam .login-area input {
    padding-left: .5rem;
}

.kayit-devam .login-area {
    font-family: 'Poppins', sans-serif;
}


/* Login */


/* Muhasebe */

.area .muhasebe .content {
    display: flex;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 108px);
}

.area .muhasebe .container {
    width: 60%;
}

.area .muhasebe h4 {
    text-align: center;
    font-size: 2rem;
}

.area .muhasebe .content .row:first-child span {
    text-align: center;
    display: block;
}

.area .muhasebe .row .col-lg-4 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.area .muhasebe .row .icon {
    width: 70px;
    height: 70px;
    display: block;
    background-size: contain;
}

.area .muhasebe .row button {
    background: #00a8e8;
    width: 100%;
    height: 35px;
    border-radius: 30px;
    -webkit-transition: all .2s ease;
    transition: all .2s ease;
}

.area .ayarlar .row button {
    background: #ff9e00;
    width: 100%;
    height: 35px;
    border-radius: 30px;
    -webkit-transition: all .2s ease;
    transition: all .2s ease;
}

.area .muhasebe .row button:hover {
    background: #0092CC;
}

.area .muhasebe .teklif button:hover {
    background: #F58F00;
}

.area .muhasebe .kasa button:hover {
    background: #F58F00;
}

.area .muhasebe .row .buton-link {
    width: 75%;
}

.area .muhasebe .row .link {
    text-align: center;
    text-transform: uppercase;
    font-size: .9rem;
    font-weight: 600;
    color: #9A9B9D;
    -webkit-transition: all .2s ease;
    transition: all .2s ease;
}

.area .muhasebe .row .link:hover {
    color: #5a189a;
}

.area .muhasebe .stokGrubu button {
    background: #ff9f1c;
}

.area .muhasebe .kasa button {
    background: #ff9f1c;
}

.area .muhasebe .teklif button {
    background: #ff9f1c;
}

.area .muhasebe .fatura .icon {
    background-image: url('../theme/photos/invoice.png');
}

.area .muhasebe .kasa .icon {
    background-image: url('../theme/photos/money.png');
}

.area .muhasebe .irsaliye .icon {
    background-image: url('../theme/photos/irsaliye.png');
}

.area .muhasebe .teklif .icon {
    background-image: url('../theme/photos/teklif.png');
}

.area .muhasebe .banka .icon {
    background-image: url('/assets/theme/photos/bank.png');
}


/* Muhasebe */


/* ayarlar */

.area .ayarlar .content {
    display: flex;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 108px);
}

.area .ayarlar .container {
    width: 60%;
}

.area .ayarlar h4 {
    text-align: center;
    font-size: 2rem;
}

.area .ayarlar .content .row:first-child span {
    text-align: center;
    display: block;
}

.area .ayarlar .row .col-lg-4 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.area .ayarlar .row .icon {
    width: 70px;
    height: 70px;
    display: block;
    background-size: contain;
}

.area .ayarlar .row button {
    background: #00a8e8;
    width: 100%;
    border-radius: 30px;
    -webkit-transition: all .2s ease;
    transition: all .2s ease;
}

.area .ayarlar .row button:hover {
    background: #0092CC;
}

.area .ayarlar .kasa button:hover {
    background: #F58F00;
}

.area .ayarlar .sablon button:hover {
    background: #F58F00;
}

.area .ayarlar .sirketler button:hover {
    background: #F58F00;
}

.area .ayarlar .row .buton-link {
    width: 75%;
}

.area .ayarlar .row .link {
    text-align: center;
    text-transform: uppercase;
    font-size: .9rem;
    font-weight: 600;
    color: #9A9B9D;
    -webkit-transition: all .2s ease;
    transition: all .2s ease;
}

.area .ayarlar .row .link:hover {
    color: #5a189a;
}

.area .ayarlar .kasa button {
    background: #ff9f1c;
}

.area .ayarlar .kullanici button {
    background: #ff9f1c;
}

.area .ayarlar .sirketler button {
    background: #ff9f1c;
}

.area .ayarlar .sablon button {
    background: #ff9f1c;
}

.area .ayarlar .fatura .icon {
    background-image: url('../theme/photos/personel.png');
}

.area .ayarlar .kasa .icon {
    background-image: url('../theme/photos/firma.png');
}

.area .ayarlar .irsaliye .icon {
    background-image: url('../theme/photos/stokayar.png');
}

.area .ayarlar .kategori .icon {
    background-image: url('../theme/photos/folder.png');
}

.area .ayarlar .kullanici .icon {
    background-image: url('../theme/photos/personel.png');
}

.area .ayarlar .sablon .icon {
    background-image: url('../theme/photos/printer.png');
}

.area .muhasebe .yeniCari .icon {
    background-image: url('../theme/photos/add-user.svg');
}

.area .muhasebe .cariGrubu .icon {
    background-image: url('../theme/photos/users.svg');
}

.area .muhasebe .cariAyarları .icon {
    background-image: url('../theme/photos/gear.svg');
}

.area .muhasebe .yeniStok .icon {
    background-image: url('../theme/photos/parcel.svg');
}

.area .muhasebe .stokGrubu .icon {
    background-image: url('../theme/photos/box.svg');
}

.area .muhasebe .stokAyarları .icon {
    background-image: url('../theme/photos/gear.svg');
}

.area .muhasebe .personel .icon {
    background-image: url('../theme/photos/users.png');
}

.area .ayarlar .doviz .icon {
    background-image: url('../theme/photos/currency.png');
}

.area .ayarlar .sirketler .icon {
    background-image: url('../theme/photos/factory.png');
}

.area .ayarlar .stokKategori .icon {
    background-image: url('../theme/photos/squares.svg');
}

.area .ayarlar .stokBirim .icon {
    background-image: url('../theme/photos/trolley.svg');
}

.area .ayarlar .paraBirimi .icon {
    background-image: url('../theme/photos/try-money.svg');
}

.area .ayarlar .stokDepo .icon {
    background-image: url('../theme/photos/home.svg');
}

.area .ayarlar .cariGrup .icon {
    background-image: url('../theme/photos/add-user.svg');
}

.area .ayarlar .personelGrup .icon {
    background-image: url('../theme/photos/worker.svg');
}

.area .ayarlar.grup .row button {
    background: #0635C9;
    -webkit-transition: all .2s ease;
    transition: all .2s ease;
}

.area .ayarlar.grup .row button:hover {
    background: #00a8e8;
}

.area .ayarlar.grup .stokBirim button,
.area .ayarlar.grup .personelGrup button {
    background: #1AE5BE;
}


/* ayarlar */


/* confirm area */

.confirm-area {
    font-family: 'Poppins', sans-serif;
    width: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 1.5rem;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1070;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: all .2s ease;
    transition: all .2s ease;
}

.confirm-area.show {
    visibility: visible;
    opacity: 1;
}

.confirm-area #sil.show {
    visibility: visible;
    opacity: 1;
}

.confirm-area #yeniStokGrubu.show {
    visibility: visible;
    opacity: 1;
}

.confirm-area #guncelleStokGrubu.show {
    visibility: visible;
    opacity: 1;
}

.confirm-area #yeniStokBirimi.show {
    visibility: visible;
    opacity: 1;
}

.confirm-area #guncelleStokBirimi.show {
    visibility: visible;
    opacity: 1;
}

.confirm-area #yeniDepo.show {
    visibility: visible;
    opacity: 1;
}

.confirm-area #guncelleDepo.show {
    visibility: visible;
    opacity: 1;
}

.confirm-hide-area {
    width: 500px;
    background-color: #FFFFFF;
    border-radius: .5rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative;
    overflow: hidden;
    margin: 0 auto;
}

    .confirm-hide-area.black {
        background: #202442!important;
    }

        .confirm-hide-area.black .modal-content {
            background: #202442 !important;
            color: #fff;
        }

        .confirm-hide-area.black .modal-header {
            justify-content: center;
            border-bottom: none;
        }

    .confirm-hide-area.black .modal-footer {
        justify-content: center;
        border-top: none;
    }

.confirm-area .icon {
    font-size: 32px;
    color: #48cae4;
}

.confirm-area .uyari {
    color: #1b263b;
}

.confirm-area .buton-area {
    display: block;
}

.confirm-area .buton {
    background: #48cae4;
    padding: .5rem;
    height: auto;
    letter-spacing: 2.1px;
    -webkit-transition: all .2s ease;
    transition: all .2s ease;
}

.confirm-area .buton:hover {
    background: #20B7D5;
}

.confirm-area .buton.layt {
    background: none;
    color: #1b263b;
    letter-spacing: 0;
}

.confirm-area .buton.layt:hover {
    color: #d69f7e;
}

.confirm-area.show {
    display: block;
}

.overlay.confirm {
    width: 100%;
    height: 100%;
    z-index: 1060;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.4);
    display: none;
}

.overlay.confirm.show {
    display: block;
}

.kasa .musteriIslemleri-header h5 {
    font-size: 16px;
    font-weight: 600;
    text-align: center;
}

.kasa .musteriIslemleri .container {
    padding: 0;
    min-height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.kasa .musteriBilgileri .container {
    min-height: 400px;
}

.kasa .musteriIslemleri-header {
    background: #FFFFFF;
    padding: 1rem;
    border-radius: 1.5rem;
    width: 100% !important;
    margin-bottom: 12px;
    position: relative;
}

    .kasa .musteriIslemleri-header.gizle {
        filter: blur(4px);
        -webkit-filter: blur(4px);
    }

.kasa .musteriIslemleri-header.son {
    margin-bottom: 0;
}

.kasa .musteriIslemleri-header .bold {
    font-weight: bold;
}

.kasa .musteriIslemleri .container {
    background: transparent !important;
}

.kasa .musteriIslemleri-header .line {
    display:flex;
    justify-content: space-between;
}

.kasa .musteriIslemleri-header .oklar {
    position: absolute;
    display: flex;
    justify-content: space-between;
    width: calc(100% - 2rem);
    top: 16px;
    left: 1rem;
    cursor: pointer;
}

.kasa .oklar span {
    -webkit-transition: all .2s ease;
    transition: all .2s ease;
}

.kasa .oklar span:hover {
    color: #CE4257;
}

/* confirm area */
.yeni-musteri .grup-input {
    width: calc(100% - 40px) !important;
}

.row.sifirla {
    --bs-gutter-x: 0 !important;
}

.col-lg-4.duzen {
    height: 38px;
    margin-bottom: 12px;
}

.satir-sil {
    font-size: 40px;
    -webkit-transition: all .2s ease;
    transition: all .2s ease;
}

.satir-sil:hover {
    color: #ce4257;
}

.vergi-ekle {
    font-size: 32px;
    -webkit-transition: all .2s ease;
    transition: all .2s ease;
}

.vergi-ekle:hover {
    color: #ce4257;
}

.row-edit-satir {
    width: 38px;
}

.btn-outline-secondary {
    background: #ced4da;
    color: #6c757d;
}

.giris-bg {
    background: url(photos/tile_background.png) repeat;
    background-size: cover;
}


/* Style the tab */

.market .tab {
    overflow: hidden;
    height: auto;
    background: #fff;
    box-shadow: 0 16px 32px rgba(208, 208, 208, 0.61);
    border-radius: 50px;
/*    width: 200px;
*/    position: absolute;
    left: calc(50% - 100px);
    top: 10px;
}


/* Style the buttons inside the tab */

.market .tab button {
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
    width: 100px;
    border-radius: 50px;
    text-transform: uppercase;
    display: inline-block;
    background: none;
    font-weight: 600;
    letter-spacing: 1px;
}

.market .tab button:hover {
    color: #5368fd;
}


/* Create an active/current tablink class */

.market .tab button.active {
    background: rgba(0, 0, 0, 0) linear-gradient(135deg, #553fbf 0%, #8573e7 99%) repeat scroll 0 0;
    color: #fff;
}


/* Style the tab content */

.market .tabcontent {
    display: none;
    margin-top: 60px;
}

.sepet {
    position: absolute;
    right: 10px;
    top: 10px;
}

.sepet .sag {
    width: 135px;
    height: 47px;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    font-size: 17px;
    border-radius: 50px;
    text-transform: uppercase;
    background: #5368fd;
    font-weight: 600;
    color: #fff;
    padding-left: 45px;
}

.sepet .sol {
    width: 47px;
    height: 47px;
    border: 2px solid #5368fd;
    outline: none;
    cursor: pointer;
    padding: 0 16px;
    font-size: 22px;
    border-radius: 50px;
    text-transform: uppercase;
    background: #fff;
    font-weight: 600;
    color: #5368fd;
    position: absolute;
    left: 0;
}

.durum-alani {
    width: 260px;
    height: auto;
    overflow: hidden;
}

.uye-baslik {
    width: 130px;
    display: inline-block;
}

.price-menu {
    border-radius: 50px;
    box-shadow: 0 16px 32px rgba(208, 208, 208, 0.61);
    display: inline-block;
    list-style: outside none none;
    margin: 0;
    padding: 0;
    position: relative;
    z-index: 9;
}

.price-menu li {
    display: inline-block;
}

.price-menu li a {
    display: block;
    font-size: 14px;
    font-weight: 700;
    height: 50px;
    letter-spacing: 3px;
    padding: 10px 30px;
    text-transform: uppercase;
}

.price-menu li.active a {
    background: rgba(0, 0, 0, 0) linear-gradient(135deg, #584bfb 0%, #45aafd 99%) repeat scroll 0 0;
    border-radius: 50px;
    color: #ffffff;
}

.single-price {
    border: 1px solid #ebecff;
    padding: 50px 20px;
    transition: all 0.3s ease 0s;
    position: relative;
    z-index: 1;
}

.single-price:before {
    background: rgba(0, 0, 0, 0) linear-gradient(135deg, #584bfb 0%, #45aafd 99%) repeat scroll 0 0;
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    transition: all 0.5s ease 0s;
    opacity: 0;
}

.price-header {
    border-bottom: 1px solid #e6f1f9;
    margin-bottom: 60px;
    padding-bottom: 60px;
}

.sale-promo {
    background: #ff911d none repeat scroll 0 0;
    border-radius: 50px;
    color: #ffffff;
    display: inline-block;
    font-weight: 500;
    letter-spacing: 3px;
    padding: 10px 30px;
    position: absolute;
    right: 30px;
    text-transform: uppercase;
    top: -24px;
}

.sale-promo span {
    font-size: 24px;
}

.price-thumb-hidding {
    display: flex;
    flex-direction: column;
    height: 110px;
    justify-content: center;
    position: relative;
    text-align: center;
}

.price-thumb-hidding img {
    left: 0;
    position: absolute;
    top: 0;
}

.price-rate {
    color: #5368fd;
    font-size: 30px;
    margin-bottom: 10px;
    text-transform: uppercase;
    font-weight: 600;
}

.price-rate .currency {
    font-size: 20px;
}

.price-title {
    letter-spacing: 1px;
    text-transform: uppercase;
    font-size: 14px;
}

.price-sub {
    letter-spacing: 1px;
    font-size: 22px;
    margin-bottom: 10px;
    text-transform: uppercase;
    font-weight: 600;
}

.price-details ul {
    list-style: outside none none;
    margin: 0;
    padding: 0;
}

.price-details ul li {
    display: block;
    margin-bottom: 10px;
    text-align: center;
}

.price-details ul li i {
    margin-right: 10px;
}

.single-price .dripicons-cross {
    color: #ff911d;
}

.price-footer {
    margin-top: 40px;
}

.purchase-button {
    background: #f0f1ff none repeat scroll 0 0;
    border-radius: 50px;
    color: #252525;
    display: block;
    font-size: 14px;
    letter-spacing: 3px;
    padding: 15px 20px;
    text-transform: uppercase;
    font-weight: 600;
    z-index: 1;
    overflow: hidden;
    position: relative;
    margin: 0 auto;
    width: 120px;
    text-align: center;
}

.single-price.active:before,
.single-price.active:before {
    opacity: 1;
}

.currency {
    color: #5368fd;
}

.order-ozet i {
    font-style: normal;
    width: 75px;
    display: inline-block;
    margin-bottom: 5px;
}

.order-ozet p {
    text-align: right;
}

.doviz .custom-control-label {
    font-size: 16px;
    text-transform: uppercase;
    margin-bottom: 15px;
}

.sil {
    display: block;
    text-align: center;
    -webkit-transition: all .2s ease;
    transition: all .2s ease;
}

.sil:hover {
    color: #CE4257;
}

.ycari tbody> :first-child {
    display: none;
}

.sil-baslik {
    padding-left: 0
}

.ycari .sil-baslik {
    padding-right: 0;
    text-align: right;
    width: 28px;
}

.yeni-musteri .sil-baslik {
    padding-right: 0;
    text-align: right;
    width: 28px;
    position: relative;
}

.yeni-musteri .sil-baslik ul {
    height: auto;
    padding: 1rem;
}

.yeni-musteri .sil-baslik li {
    height: auto;
    line-height: normal;
    display: flex;
    justify-content: center;
    -webkit-transition: all .2s ease;
    transition: all .2s ease;
    padding: .2rem 0;
    border-radius: .3rem;
}

.yeni-musteri .sil-baslik li:hover {
    background: rgba(0, 0, 0, 0.3);
}

.yeni-musteri .sil-baslik li a {
    font-size: 18px;
    color: #FFFFFF;
}

.ycari tr> :first-child {
    padding-left: 0;
}

.ycari tr {
    height: auto;
    line-height: 0;
}

.callback {
    width: auto;
    height: calc(100vh - 108px);
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.callback .cards {
    background: #FFFFFF;
    padding: 60px;
    border-radius: 10px;
}

.callback h1 {
    color: #44EACA;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 32px;
    margin-bottom: 10px;
    margin-top: 20px;
    text-align: center;
}

.callback p {
    color: #3C4045;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    text-align: center;
}

.callback span {
    color: #44EACA;
    font-size: 100px;
    text-align: center;
    display: block;
}

.callback .crcl {
    border-radius: 200px;
    height: 200px;
    width: 200px;
    background: #F8FAF5;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.callback .red h1 {
    color: #CE4257;
}

.callback .red span {
    color: #CE4257;
}

.callback .red .crcl {
    background: rgba(206, 66, 87, .08);
}

.modal-list span {
    -webkit-transition: all .25s ease;
    transition: all .25s ease;
}

.yesil-buton:hover {
    color: #44EACA;
}

.kirmizi-buton:hover {
    color: #CE4257;
}

.buton.kahverengi {
    background: #d69f7e;
}

.buton.kahverengi:hover {
    background: #C97F54;
}

.mr-5 {
    margin-right: 5px;
}

.tasmayan-k {
    max-width: 250px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.buton.light.donustur {
    background: none;
    color: #1b263b;
    letter-spacing: 0;
}

.buton.light.donustur:hover {
    color: #d69f7e;
}

.vergi-ekle.dropdown-toggle::after {
    border: none;
}

.vergi-ekle {
    color: #3C4045;
    font-size: 40px;
}

.fatura-tutarlar {
    width: auto;
    height: auto;
}

.fatura-table .price {
    text-align: right;
}

.fatura-table th {
    text-align: right;
    padding-right: 1rem;
}

.fatura-table .price .form-control {
    text-align: right;
    max-width: 150px;
}

.fatura-urunler {
    min-width: 718px;
    overflow-x: auto;
}

.fatura-urunler tr {
    height: auto;
    line-height: 0;
}

.fatura-urunler td {
    width: 7%!important;
}

.fatura-urunler .otv-kapsa {
    position: relative;
    width: auto;
    height: auto;
}

.fatura-urunler td .otv-kapat {
    position: absolute;
    top: 12px;
    right: -15px;
}

.fatura-urunler .byk {
    width: 20%!important;
}

.fatura-urunler .sil-baslik {
    width: 1%!important;
}

.fatura-urunler tbody>:first-child {
    line-height: 1;
}

.fatura-urunler .otvk {
    width: 20%;
    background-image: none;
    padding: 0;
    text-align: center;
    font-weight: 900;
}

.fatura-urunler .otvb {
    width: 60%;
}

.bankalar {
    min-width: 718px;
    overflow-x: auto;
}

    .bankalar tr {
        height: auto;
        line-height: 0;
    }

    .bankalar td {
        width: 7% !important;
    }

    .bankalar .byk {
        width: 20% !important;
    }

    .bankalar .sil-baslik {
        width: 1% !important;
    }

    .bankalar tbody > :first-child {
        line-height: 1;
    }


.musteri .gri {
    background: #3C4045;
    display: block;
    margin-bottom: 10px;
}

    .musteri .gri:hover {
        background: #26292C
    }

.sil-baslik .dropdown-menu {
    transform: translate(-40px, 15px)!important;
}

.boyut .select2-container {
    width: calc(100% - 40px) !important;
}

.graphic .img-alan {
    position: relative;
    display: block;
    width: 120px;
    margin-left: 5px;
}

.graphic a {
    display: block;
    width: auto;
    height: auto;
}

.foto-sil {
    position: absolute;
    top: -7px;
    right: -4px;
    z-index: 100;
    color: #fff;
    background: #8EB2CC;
    width: 17px;
    height: 17px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    cursor: pointer;
    -webkit-transition: all .25s ease;
    transition: all .25s ease;
}

    .foto-sil:hover {
        background: #CE4257;
    }

    .nokta {
        width:5px;
        height:5px;
        background:orange;
        margin-right:8px;
        border-radius:5px;
    }

.notice-hide-area li{
    display:flex;
    align-items:center;
}

.row.gt-1.mt-3 .title span {
    font-size: 26px;
    font-weight: 600;
    cursor: pointer;
}

.row.gt-1.mt-3 .shape {
    background: none;
}

.row.gt-1.mt-3 .card {
    height: 75px;
}

.inputs-area .check {
    width: 125px;
    height: auto;
    display: block;
    margin: 0 auto;
}